<div *ngIf="selectedRenovationItem">
  <h2>{{selectedRenovationItem.name}} Details</h2>
  <div><span>id: </span>{{selectedRenovationItem.id}}</div>
  <div><span>name: </span>{{selectedRenovationItem.name | uppercase}}</div>
  <div><span>dateChanged: </span>{{selectedRenovationItem.dateChanged | date:"dd.MM.yyyy"}}</div>
  <div><span>cost: </span>{{selectedRenovationItem.cost}}</div>
  <div><span>estimatedCost: </span>{{selectedRenovationItem.estimatedCost}}</div>
  <div><span>description: </span>{{selectedRenovationItem.description}}</div>
  <div><span>status: </span>{{statusType[selectedRenovationItem.status]}}</div>

  <div>
    <label>name: 
      <input [(ngModel)]="selectedRenovationItem.name" placeholder="name">
    </label>
  </div>
  <div>
    <label>description:
      <input [(ngModel)]="selectedRenovationItem.description" placeholder="description">
    </label>
  </div>
</div>

<h2>My Apartment Renovation Items</h2>
<ul class="renovationItems">
  <li *ngFor="let renovationItem of renovationItems" 
      [class.selected]="renovationItem === selectedRenovationItem"
      (click)="onSelect(renovationItem)">
    <span class="badge">{{renovationItem.id}}</span> {{renovationItem.name}}
  </li>
</ul>